node_modules/
static/scss/style.css
static/scss/style.css.map
static/js/additional-methods.js
static/js/jquery.min.js
static/js/jquery.validate.min.js
static/js/materialize.min.js
static/fonts/*
static/css/*