html {
  min-width: 400px; }

body {
  font-family: 'Open Sans', sans-serif; }

#main-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-top: 50px; }

.page-footer {
  flex: 1 0 auto;
  background-color: #005581;
  color: #B9CFE1; }
  .page-footer #social li {
    display: inline;
    margin: 0 20px; }
    .page-footer #social li .fa {
      font-size: 24px;
      color: #B9CFE1; }
      .page-footer #social li .fa:hover {
        color: #fff; }

footer .row {
  margin-bottom: 0;
  padding-bottom: 20px; }

nav {
  background-color: #005581; }
  nav .brand-logo {
    font-size: 1.5em;
    padding: 0 10px; }
    nav .brand-logo:hover {
      color: #B9CFE1; }
  nav ul a:hover {
    background-color: #B9CFE1;
    color: #005581; }

.nav-wrapper .sidenav-trigger .fa {
  font-size: 28px; }
  .nav-wrapper .sidenav-trigger .fa:hover {
    color: #B9CFE1; }

.card {
  color: #005581; }
  .card tr:nth-child(1) {
    padding-bottom: 0; }
  .card tr:nth-child(2) {
    padding-top: 5px;
    padding-bottom: 0; }
  .card tr {
    border-bottom: none; }
    .card tr td {
      text-align: center; }
  .card .card-content {
    padding: 0 24px; }
    .card .card-content h6 {
      font-weight: 700; }
  .card .card-head {
    text-align: center;
    background-color: #005581;
    color: white;
    padding: 12px; }
  .card .btn {
    background-color: #005581; }
    .card .btn:hover {
      background-color: #B9CFE1;
      color: #005581; }

.top-content-box {
  -webkit-box-shadow: 3px 3px 10px 3px #dedbde;
  -moz-box-shadow: 3px 3px 10px 3px #dedbde;
  box-shadow: 3px 3px 10px 3px #dedbde; }

.ingredients-list {
  border-right: 1px solid #dedbde; }

.recipe-stats {
  margin: 10%; }
  .recipe-stats tr td {
    text-align: center;
    padding: 10px; }
  .recipe-stats tr td:nth-child(1) {
    border-right: 1px solid rgba(0, 0, 0, 0.12); }
  .recipe-stats tr:nth-child(2) {
    border-bottom: none; }

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: 180px;
    white-space: nowrap; } }

@media only screen and (max-width: 550px) {
  .page-footer #social li {
    margin: 0 10px; } }
