{% extends 'base.html'%}

{% block content %}

  <div class="row recipe_cards">
      {% for recipe in recipes %}
    <div class="col s6 m4 l3">
        <div class="card hoverable">
            <div class="card-image">
              <img class="circle responsive-img" src="static/file_uploads/{{recipe.photo}}">
            </div>
            <div class="card-content"> 
                <table>
                    <tbody>
                      <tr>
                        <td colspan="2">
                            <h6>{{ recipe.dish_name }}</h6s>
                        </td>
                      </tr> 
                      <tr>
                        <td>
                            <h6>Time</h6>
                            <p>{{recipe.c_time}} mins</p>
                        </td>
                        <td>
                            <h6>Cuisine</h6>
                            <p>{{recipe.cuisine}}</p>
                        </td>
                      </tr>
                    <tr>
                        <td colspan="2"><a class="waves-effect waves-light btn" href="{{ url_for('viewRecipe', recipe_id=recipe._id) }}">View</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}