{% extends 'base.html'%}

{% block content %}
    
    <div id="recipe-content">
        
        <div class="row">
            <div class="col s12 m6">
                <h3>{{ recipe.dish_name }}</h3>
                <p>{{ recipe.descr }}</p>        
            </div>
        </div>
        
        <div class="row top-content-box ">
            <div class="col s6 m3 recipe-stats">
                <h6>Serves</h6>
                <span>{{ recipe.serves }}</span>
            </div>    
            <div class="col s6 m3 recipe-stats">
                <h6>Cuisine</h6>
                <span>{{ recipe.cuisine }}</span>
            </div>    
            <div class="col s6 m3 recipe-stats">
                <h6>Time</h6>
                <span> {{ recipe.c_time }} minutes</span>
            </div>    
            <div class="col s6 m3 recipe-stats">
                <h6>Author</h6>
                <span>{{ recipe.author }}</span>
            </div>
        </div>
        
        <div class="row">
            <div class="col s12 m12 l5">
                <div class="ingredients-list">
                    <h5>Ingredients</h5>
                    <ul>
                        {% for ingr1 in recipe.ingr %}
                        <li>{{ ingr1 }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col s12 m12 l7">
                <div class="steps-taken">
                    <h5>Steps</h5>
                    <ol>
                        {% for step in recipe.step %}
                        <li>{{ step }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>

    </div>

{% endblock %}