{% extends 'base.html'%}

{% block content %}
    
    <div id="recipe-content">
        
        <div class="row">
            <div class="col s12 m6">
                <h3>Sloppy Joes</h3>
                <p>A hamburger in which the minced-beef filling is made into a kind of meat sauce, 
                    typically with tomatoes and spices.</p>        
            </div>
        </div>
        
        <div class="row top-content-box ">
            <div class="col s6 m3 recipe-stats">
                <h6>Serves</h6>
                <span>3</span>
            </div>    
            <div class="col s6 m3 recipe-stats">
                <h6>Cuisine</h6>
                <span>American</span>
            </div>    
            <div class="col s6 m3 recipe-stats">
                <h6>Time</h6>
                <span>20 mins</span>
            </div>    
            <div class="col s6 m3 recipe-stats">
                <h6>Author</h6>
                <span>Obama</span>
            </div>
        </div>
        
        <div class="row">
            <div class="col s12 m12 l5">
                <div class="ingredients-list">
                    <h5>Ingredients</h5>
                    <ul>
                        <li>1 pound ground beef</li>
                        <li>6 sandwich buns</li>
                        <li>2 tablespoons flour, or more</li>
                        <li>1 cup ketchup</li>
                        <li>1/2 cup diced onion</li>
                        <li>1/2 teaspoon dry mustard</li>
                        <li>1 tablespoon vinegar</li>
                        <li>1 tablespoon brown sugar</li>
                    </ul>
                </div>
            </div>
            <div class="col s12 m12 l7">
                <div class="steps-taken">
                    <h5>Steps</h5>
                    <ol>
                        <li>Brown the beef in a skillet over medium heat; pour off fat.</li>
                        <li>In a small bowl, mix together the brown sugar, vinegar, and mustard.</li>
                        <li>Add this mixture to the beef along with the celery and onion, and ketchup. Stir together to combine.</li>
                        <li>Sprinkle flour over mixture and stir to mix well. If mixture is still not thick enough to your liking, 
                        add a bit more flour until it is. Serve on buns.</li>
                    </ol>
                </div>
            </div>
        </div>

    </div>

{% endblock %}