$dark-blue: #005581;
$light-blue: #B9CFE1;

$light-grey: #dedbde;

$dark-green: #6EBE3B;
$light-green: #D7EDC1;

$dark-red: #f44336;
$light-red: #ef8077;

$dark-sea-blue: #008daf;
$light-sea-blue: #6dd7f1;